:root {
	--notes-bg-1: white;
	--notes-bg-2: #f2f1f6;
	--notes-bg-3: #e4e3e8;

	--notes-border-1: rgba(0, 0, 0, 0.08);

	--notes-color-1: black;
	--notes-color-2: rgba(0, 0, 0, 0.6);

	--border-radius-big: 0.75rem;
	--border-radius-med: 0.5rem;
	--border-radius-sma: 0.25rem;

	--accent-color-1: #d7ac32;
	/* --accent-color-2: #c20a38; */

	color: var(--notes-color-1);
}

.dark-mode {
	--notes-bg-1: black;
	--notes-bg-2: #141414;
	--notes-bg-3: #191a1a;

	--notes-border-1: rgba(255, 255, 255, 0.08);

	--notes-color-1: white;
	--notes-color-2: rgba(255, 255, 255, 0.6);
}

.navbar {
	color: var(--notes-color-1);
}

#home-btn {
	background-color: var(--notes-color-1);
}

.notes-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	/* padding: 2rem; */
	background-color: var(--notes-bg-2);
}

.notes-page {
	position: absolute;
	inset: 0;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
}

#note-edit-page {
	background-color: var(--notes-bg-1);
	padding-inline: 1rem;
	display: none;
	padding-top: 4rem;
	padding-bottom: 2rem;
	overflow-y: scroll;
}

#note-edit-page.active {
	display: flex;
}

.note-edit-header {
	position: absolute;
	top: 3rem;
	left: 0;
	width: 100%;
	padding-inline: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.edit-back-btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.25rem;
	color: var(--accent-color-1);
}

#note-edit-title {
	font-size: 1.25rem;
	margin-top: 1rem;
	padding-block: 0.5rem;
	border: none;
	outline: none;
	font-weight: bold;
	color: var(--notes-color-1);
	background-color: transparent;
}

#note-edit-content {
	font-size: 1rem;
	margin-top: 1rem;
	padding-block: 0.5rem;
	border: none;
	outline: none;
	resize: none;
	height: 100%;
	color: var(--notes-color-1);
	background-color: transparent;
}

::-webkit-scrollbar {
	display: none;
}

.notes-search {
	margin-inline: 1.5rem;
	position: relative;
	display: flex;
	align-items: center;
}

#notes-search {
	background-color: var(--notes-bg-3);
	border-radius: var(--border-radius-med);
	border: none;
	outline: none;
	padding: 0.5rem;
	padding-left: 2.25rem;
	color: var(--notes-color-1);
	width: 100%;
	box-sizing: border-box;
	/* width: 100%;  */
}

.notes-search .search-icon {
	position: absolute;
	left: 0.75rem;
	color: var(--notes-color-1);
	font-size: 0.9rem;
}

#notes-page .notes-header {
	font-size: 1.5rem;
	margin-block: 0.5rem;
	margin-top: 2rem;
	margin-inline: 1.5rem;
	color: var(--notes-color-1);
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn {
	font-size: 1.25rem;
	font-weight: bold;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	color: var(--accent-color-1);
}

.notes-list {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding-inline: 1rem;
	gap: 0.5rem;
}

.notes-list .note {
	padding: 0.75rem 1rem;
	background-color: var(--notes-bg-1);
	border-radius: var(--border-radius-med);
	cursor: pointer;
}

.note .note-title {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--notes-color-1);
}

.note .note-time {
	margin-top: 0.2rem;
	font-size: 0.9rem;
	color: var(--notes-color-2);
}
